.admin-bg {
    /* background-color: #f7f9fc; */
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('https://images.pexels.com/photos/14242187/pexels-photo-14242187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') center center/cover no-repeat;
    min-height: 100vh;
  }
  
  .admin-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
  }
  
  .modern-input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
    font-size: 16px;
  }
  