.card-img {
    width: 100%;
    height: 250px; /* Default height */
    object-fit: cover;
    object-position: center;
  }
  
  @media (max-width: 768px) {
    .card-img {
      height: 200px; /* Smaller height for mobile */
    }
  }
  