.search-btn {
    color: gray;
}

.search-btn:hover .search-icon {
    color: white;
}

.search-icon {
    transition: color 0.3s ease;
}

.cart-icon {
    font-size: 24px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .cart-icon:hover {
    color: #636363;
  }

  .user-account {
    font-size: 24px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 2px;
  }
  
  .user-account:hover {
    color: #636363;
  }

  .imageLogo{
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
